:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(173 163 163 / 29%);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%; /* Set width to 100% of the parent element */
  min-height: 100vh; /* Set height to desired value */
  background-image: url('../../public/Design\ sans\ titre.png'); /* Path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.horizontal-line {
  border-top: 2px solid rgba(141, 140, 140, 0.829); /* Adjust the color and thickness as needed */
}

/* Home page styling */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}
/*
.shoppingBtn{
  padding: 15px;
  font-size: 1.8em;
  border: 2px solid black;
  border-radius: 5px;
  background: none;
  color: black;
  background-color: rgb(173 163 163 / 29%); 
}
.container>a:hover{
  text-decoration: none;
  background-color: rgb(173 163 163 / 39%); 
}
  */
.shoppingBtn {
  padding: 15px;
  font-size: 1.8em;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  color: black;
  background-color: rgb(173 163 163 / 29%);
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.shoppingBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.container > a:hover {
  text-decoration: none;
  background-color: rgb(173 163 163 / 39%);
}