.navBar{
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links{
  border: 1px solid red;
  width: 40%;
}
ul{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}