.navBar {
  background-color: white;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px; /* Padding for aesthetics */
  z-index: 2;
  font-size: 1.5em;
  border-bottom: 2px solid gray;
}
.name > a {
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.links ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.25em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.1em;
  color: black;
}

.links li > a {
  position: relative;
  text-decoration: none;
  color: black;
  transition: color 0.1s ease;
}
.links li > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgba(61, 60, 60, 0.567);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.links li > a:hover {
  color: rgba(61, 60, 60, 0.798);
}

.links li > a:hover::after {
  opacity: 1;
}
@media (max-width: 768px) {
  .navBar {
    padding: 0;
  }
  .name {
    display: none;
  }
  .links ul {
    font-size: 1em;
  }
}
