.navBar {
  background-color: rgba(173, 163, 163, 0.567);
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px; /* Padding for aesthetics */
  z-index: 2;
  font-size: 1.5em;
}
.name>a {
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.25em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.1em;
}
.links li > a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
.links li > a:hover {
  text-decoration: underline;
  color: rgb(50, 49, 49); 
}

/* this is concerning component/Products */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.produit {
  border: red 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
img {
  height: 200px;
  width: 150px;
}
.down {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

/* this is concerning component/Cart.jsx */

.items {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.item {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.quantity {
  border: 1px solid black;
  display: flex;
}
